.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.items {
  font-family: Arial, Helvetica, sans-serif;

  border-collapse: collapse;
  width: 100%;
}

.items-head {
  background: #04aa6d;
  color: white;
  text-align: center;
}

.items-body {
  text-align: center;
}

.items-body tr:nth-child(odd) {
  background: #ddd;
}
.items-head th {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
